@page "/Account/AccessDenied"
@model WebDatabaseEditor.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "AccessDenied";

    @if (User.Identity.IsAuthenticated)
    {
        <p>Доступ запрещён, для пользователя @User.Identity.Name!</p>
    }
    else
    {
        <p>Пожалуйста, <a href="/Account/Login">войдите</a> в систему.</p>
    }
}
